@model IEnumerable<FR_System.Models.TicketViewModel>  
@{  
    ViewData["Title"] = "Booking Details";
    Layout = "~/Views/Shared/_UserLayout.cshtml"; 
}  

<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Booking Details</h2>
				<div class="blank-page widget-shadow scroll" id="style-2 div1">
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Ticket Details List</h2>
		</div>
	</div>
	<br />

	@if(Model.Count() > 0)
	{
		<table class="table table-bordered table-striped" style="width:90%">
			<thead>
				<tr>
					<th>Reservation Id</th>
					<th>Flight Id</th>
					<th>From City</th>
					<th>To City</th>
					<th>Departure Date</th>
					<th>Departure Time</th>
					<th>Travellers</th>
					<th>Total Fare</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
			   {
				   <tr>
					   <td width="10%">@item.reservations.ReservationId</td>
					   <td width="10%">@item.reservations.FlightId</td>
					   <td width="10%">@item.flights.FlightFrom</td>
					   <td width="10%">@item.flights.FlightTo</td>
					   <td width="10%">@item.flights.FlightDDate</td>
					   <td width="10%">@item.flights.DTime</td>
					   <td width="10%">@item.reservations.Travellers</td>
					   <td width="10%">@item.reservations.Totalprice</td>
					   <td width="20%">
						   <div class="w-100 btn-group" role="group">
								<a asp-controller="Reservation" asp-action="BookingUpdate" asp-route-Id="@item.reservations.ReservationId" class="btn btn-primary mx-1">Update Booking</a>
								<a asp-controller="Reservation" asp-action="BookingDelete" asp-route-Id="@item.reservations.ReservationId" style="margin-top: 10px;" class="btn btn-danger mx-1">Delete Booking</a>
								@if(item.reservations.Payment==false){
								<a asp-controller="Reservation" asp-action="Payment" asp-route-Id="@item.reservations.ReservationId" style="margin-top: 10px;" class="btn btn-primary mx-1">Make Payment</a>
								}
						   </div>
					   </td>
				   </tr>
			   }
			</tbody>
		</table>
	}
	else
	{
		<p>No flight details available.</p>

	}
		  <a class="btn btn-danger w-20" asp-action="Dashboard" asp-controller="User">Back</a>
</div>
</div>
</div>
</div>