@model IEnumerable<FR_System.Models.Plane>

@{
    ViewData["Title"] = "Plane Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Plane Information</h2>
				<div class="blank-page widget-shadow scroll" id="style-2 div1">
@* <h1>Plane Information</h1> *@
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Plane Details List</h2>
		</div>
	</div>
	<br />

	@if(Model.Count() > 0)
	{
		<table class="table table-bordered table-striped" style="width:90%">
			<thead>
				<tr>
					<th>PlaneID</th>
					<th>Plane Name</th>
					<th>Number of Seats</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
			   {
				   <tr>
					   <td width="30%">@item.PlaneID</td>
					   <td width="30%">@item.PlaneName</td>
					   <td width="30%">@item.Seats</td>
					   					   <td width="20%">
						   <div class="w-100 btn-group" role="group">
								<a asp-controller="Plane" asp-action="Update" asp-route-Id="@item.PlaneID" class="btn btn-primary mx-1">Update Plane</a>
								<a asp-controller="Plane" asp-action="Delete" asp-route-Id="@item.PlaneID" style="margin-top: 10px;" class="btn btn-danger mx-1">Delete Plane</a>
						   </div>
					   </td>
				   </tr>
			   }
			</tbody>
		</table>
	}
	else
	{
		<p>No flight details available.</p>

	}
		 <a class="btn btn-danger w-20" asp-action="Dashboard" asp-controller="Admin">Back</a>
</div>
</div>
			</div>
		</div>